<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medical.mapper.UserMapper">
    <select id="listOrdersByUserId" resultType="java.lang.String">
        SELECT *from `user` u join orders o ON u.id=o.uid AND u.id =  #{id}
    </select>
</mapper>
