<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medical.mapper.VipMapper">
    <resultMap id="Vips" type="com.medical.entity.Vip">
        <result column="id" property="id"></result>
        <result column="register_date" property="registerDate"></result>
        <result column="expire_date" property="expireDate"></result>
        <association property="user" javaType="com.medical.entity.User">
            <result column="vip_id" property="vip_id"></result>
        </association>
    </resultMap>
<select id="selectVip" resultMap="Vips">
    select * from vip vips join `user` users on vips.id = users.vip_id;
</select>
</mapper>
